---
import LayoutPage from "../layouts/LayoutPage.astro"
import marked from '../js/marked.js'

const contentFile = await import('../content/aviso-legal.md')
const { frontmatter } = contentFile
const html = marked(frontmatter.content);
---
<LayoutPage>
	<h1>{ frontmatter.title }</h1>
	<section set:html={html}></section>
</LayoutPage>
<style lang="scss">
	section {
		display: flex;
		flex-direction: column;
		width: 80%;
		max-width: 800px;
		margin: 0 auto;
	}
</style>