---
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav.astro'
import SectionPosts from '../components/SectionPosts.astro'
import SectionBridgePhrase from '../components/SectionBridgePhrase.astro'
import SectionMarquee from '../components/Marquee.astro'
import SectionInterlude from '../components/SectionInterlude.astro'
import SectionAbout from '../components/SectionAbout.astro'
import Footer from '../components/Footer.astro'
---
<Layout>
	<Header />
	<main>
		<div class="content">
			<SectionPosts />
			<SectionBridgePhrase />
			<SectionMarquee />
			<SectionInterlude />
			<SectionAbout />
		</div>
	</main>
	<Footer />
</Layout>
