---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
import SectionPosts from '../components/SectionPosts.astro'

---

<Layout>
	<Header />
	<main>
		<div class="content">
			<SectionPosts />
		</div>
	</main>
</Layout>
