---
import LayoutPage from "../layouts/LayoutPage.astro"
---
<LayoutPage>
	<h1>Política de cookies</h1>
	<p>Esta página web utiliza cookies para mejorar la experiencia del usuario. Al navegar por este sitio, aceptas el uso de cookies.</p>
	<p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo al visitar una página web. Estas cookies permiten que el sitio recuerde tus acciones y preferencias durante un tiempo, para que no tengas que volver a configurarlas cada vez que vuelvas a visitar el sitio.</p>
	<p>Para más información sobre cómo utilizamos las cookies y cómo puedes gestionarlas, consulta nuestra <a href="/privacy-policy">Política de privacidad</a>.</p>
</LayoutPage>
