---
const data = Astro.props.data;
const { title, subtitle, text, image } = data;
---
<header class="header" style={`background-image: url('${image}');`}>
    <div class="header__content">
        <h1 class="header__title">{title}</h1>
        <p class="header__slogan">{subtitle}</p>
        <h2 class="header__job">{text}</h2>
    </div>
</header>

<style>
.header {
    background-size: cover;
    background-position:cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;

    .header__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        text-align: center;

        .header__title {
            font-size: 60px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 0
        }

        .header__slogan {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
        }

        .header__job {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            background-color: #000000;
            display: inline;
            padding: 7px;
        }
    }
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    height: 450px;
    .header__content {
      .header__title {
        font-size: 32px;
      }
      .header__slogan {
        font-size: 16px;
      }
      .header__job {
        font-size: 16px;
        padding: 5px;
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    height: 320px;
    .header__content {
      padding: 0 10px;
      .header__title {
        font-size: 20px;
      }
      .header__slogan {
        font-size: 12px;
      }
      .header__job {
        font-size: 12px;
        padding: 3px;
      }
    }
  }
}
</style>

