---
---
<header class="header">
    <div class="header__content">
        <h1 class="header__title">La emoci칩n est치 en el segundo antes del movimiento</h1>
        <p class="header__slogan">Una fracci칩n de segundo. Un disparo. Una historia</p>
        <h2 class="header__job">Fot칩grafo deportivo</h2>
    </div>
</header>

<style>
.header {
    background-image: url('./images/hero.png');
    background-size: cover;
    background-position:cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;

    .header__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        text-align: center;

        .header__title {
            font-weight: 600;
            font-size: 60px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 0
        }

        .header__slogan {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
        }

        .header__job {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            background-color: #000000;
            display: inline;
            padding: 7px;
        }
    }
}
</style>

