---
    const words = Astro.props.words || 'luz - movimiento - ritmo - reflejo - impulso - precisión - mirada - gesto - cadencia - tensión - silencio - enfoque';
    // Default words if none are provided
    // You can customize this default value as needed
---
<section class="marquee">
        <span class="marquee__text">-</span>
        {words.split(' - ').map((word:string, index:number) => (
            <span class="marquee__text">{word}</span>
            <span class="marquee__text">-</span>
        ))}
</section>

<style lang="scss">
    .marquee {
        border-top: 1px solid #666666;
        border-bottom: 1px solid #666666;
        padding: 30px;
        display: flex;
        justify-content: center;
        font-size: 18px;

        &__text {
            margin: 0 10px;
        }
    }
</style>
