---
---
<section class="marquee">
    <span class="marquee__text">luz</span>
    <span class="marquee__text">-</span>
    <span class="marquee__text">movimiento</span>
    <span class="marquee__text">-</span>
    <span class="marquee__text">ritmo</span>
    <span class="marquee__text">-</span>
    <span class="marquee__text">reflejo</span>
    <span class="marquee__text">-</span>
    <span class="marquee__text">impulso</span>
    <span class="marquee__text">-</span>
    <span class="marquee__text">precisión</span>
    <span class="marquee__text">-</span>
    <span class="marquee__text">mirada</span>
    <span class="marquee__text">-</span>
    <span class="marquee__text">gesto</span>
    <span class="marquee__text">-</span>
    <span class="marquee__text">cadencia</span>
    <span class="marquee__text">-</span>
    <span class="marquee__text">tensión</span>
    <span class="marquee__text">-</span>
    <span class="marquee__text">silencio</span>
    <span class="marquee__text">-</span>
    <span class="marquee__text">enfoque</span>
</section>

<style lang="scss">
    .marquee {
        border-top: 1px solid #666666;
        border-bottom: 1px solid #666666;
        padding: 30px;
        display: flex;
        justify-content: center;
        font-size: 18px;

        &__text {
            margin: 0 10px;
        }
    }
</style>
