---
---
<header class="mini-header">
    <div class="content">
        <a class="button" href="/">Home</a>
        <h1>Fotografía deportiva - Juan Pablo Flores Jiménez</h1>
    </div>
</header>
<style lang="scss">
.mini-header {
    display: flex;
    align-items: center;
    padding: 1rem;

    .content {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }

    h1{
        font-size: 16px;
        font-family: "Questrial", sans-serif;
        border-bottom: 1px solid #000000;
        padding-bottom: 10px
    }
}
</style>
