---
import SectionContact from "./SectionContact.astro"
---
<section class="about">
    <div class="about__description">
        <h2>Sobre mí</h2>
        <div class="about__text">
            <p>Me interesa el instante en que todo está a punto de suceder.</p>
            <p>Ese segundo de tensión donde el cuerpo, la luz y el silencio se encuentran.</p>
            <p>La fotografía deportiva llegó como una forma de estar cerca del movimiento, de entenderlo sin competir. Empecé en entrenamientos locales, documentando gestos que pasaban desapercibidos. Y con el tiempo, entendí que ahí también había historia.</p>
            <p>No busco imágenes perfectas. Busco verdad, ritmo, emoción.</p>
            <p>Cada evento, cada sesión, es una oportunidad para mirar mejor. Y para contar con imágenes lo que las palabras no alcanzan.</p>
        </div>
         <SectionContact />
    </div>
    <img src="./images/about.png" alt="" class="about__image" />
</section>

<style lang="scss">
    .about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        padding: 4rem;
        width: 100%;
        max-width: 1200px;

        &__description {
            min-width: 300px;
            max-width: 600px;
        }

        &__image {
            border-radius: 4px;
            object-fit: cover;
            width: 400px;
        }

    }
</style>
