---
const { doc, email } = Astro.props;
---
<div class="contact">
    <h2>¿Te gustaría que lo documente?</h2>
    <div  set:html={doc}></div>
    <a class="button" href={`mailto:${email}`}>Escríbeme sin compromiso</a>
</div>

<style lang="scss">
    .contact {
        .button {
            display: inline-block;
            margin-top: 2rem;
        }
    }
</style>
