---
---
<section class="interlude">
    <img src="./images/interlude.png" alt="" class="interlude__image"/>
    <h2 class="interlude__title"><span>“Todo empieza</span> en el silencio.”</h2>
</section>

<style lang="scss">
    .interlude {
        position: relative;

        &__image {
            width: 60%;
            height: auto;
            border-radius: 4px;
        }

        &__title {
            font-size: 60px;
            position: absolute;
            top: 0;
            right: 14.3%;

            span {
                color: #ffffff;
            }
        }
    }
</style>