---
---
<section class="bridge-phrase">
    <p>Soy fotógrafo, no atleta. Pero entiendo lo que significa dejarlo todo en un instante.</p>
</section>

<style lang="scss">
    .bridge-phrase {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            text-transform: uppercase;
            font-size: 33px;
            letter-spacing: 1px;
        }
    }
</style>